*{
    box-sizing:border-box;
    font-family:tahoma;
}


body{

    margin:0;

    background:#050505;

    color:white;

    text-align:center;

}




header{

    padding:25px;

    border-bottom:1px solid #333;

}




header h1{

    color:#ffd700;

    font-size:32px;

    text-shadow:0 0 15px #ffd700;

}





h2{

    color:#ffd700;

}




input{

    width:250px;

    padding:13px;

    margin:10px;

    border-radius:12px;

    border:none;

    text-align:center;

    outline:none;

}





button{

    padding:12px 25px;

    border:none;

    border-radius:12px;

    background:#ffd700;

    cursor:pointer;

    font-weight:bold;

    transition:.3s;

}



button:hover{

    transform:scale(1.05);

}





#panel{

    padding:20px;

}





#list{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:20px;

}





.member{

    background:

    linear-gradient(145deg,#151515,#080808);

    width:300px;

    border:1px solid #333;

    border-radius:25px;

    padding:20px;

    box-shadow:0 0 20px #000;

}




.member h3{

    color:#00ff88;

}




.member p{

    font-size:17px;

}





.member input{

    width:90%;

}





.hide{

    display:none;

}





@media(max-width:600px){


.member{

    width:90%;

}


}
