*{
    box-sizing:border-box;
    font-family:tahoma;
}


body{

    margin:0;

    background:#050505;

    color:white;

    text-align:center;

}




header{

    width:100%;

    padding:20px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    border-bottom:1px solid #333;

}



header h1{

    color:#ffd700;

    margin:0;

    font-size:30px;

    text-shadow:0 0 15px #ffd700;

}




button{

    background:#ffd700;

    color:#000;

    border:none;

    border-radius:12px;

    padding:12px 22px;

    cursor:pointer;

    font-weight:bold;

}




main{

    padding:30px;

}




main h2{

    color:#ffd700;

}




.games{

    display:flex;

    justify-content:center;

    margin-top:40px;

}





.game-card{

    width:280px;

    background:#111;

    border:2px solid #ffd700;

    border-radius:25px;

    padding:25px;

    cursor:pointer;

    transition:.3s;

}




.game-card:hover{

    transform:translateY(-8px);

    box-shadow:0 0 25px #ffd700;

}





.game-img{

    font-size:90px;

}



.game-card h3{

    color:#ffd700;

    font-size:25px;

}



.game-card p{

    color:#ccc;

}
