*{
    box-sizing:border-box;
    font-family:Tahoma;
}

body{
    margin:0;
    background:#050505;
    color:white;
    text-align:center;
}

header{
    padding:20px;
    font-size:30px;
    color:#ffd700;
    text-shadow:0 0 15px #ffd700;
    border-bottom:1px solid #222;
}



h2{
    margin-top:20px;
}



/* صفحه اصلی */

.main-game{

    width:220px;
    margin:40px auto;

    background:#111;

    padding:20px;

    border-radius:20px;

    cursor:pointer;

    transition:.3s;

    box-shadow:0 0 20px #000;

    border:1px solid #333;

}


.main-game:hover{

    transform:scale(1.05);

    box-shadow:0 0 25px #ffd700;

}


.main-game img{
    width:120px;
}




.hide{
    display:none;
}




/* اطلاعات */

.info{
    display:flex;
    justify-content:center;
    gap:40px;
    font-size:18px;
}



/* کارت‌ها */

.cards{

    display:flex;
    justify-content:center;
    gap:15px;
    margin-top:40px;
    flex-wrap:wrap;

}



/* کارت سه‌بعدی */

.card{

    width:100px;
    height:140px;

    position:relative;

    transform-style:preserve-3d;

    transition:0.6s;

    cursor:pointer;

}



/* حالت جلو */

.front{

    position:absolute;

    width:100%;
    height:100%;

    background:#222;

    border-radius:15px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:35px;

    backface-visibility:hidden;

    border:2px solid #ffd700;

}



/* پشت کارت */

.back{

    position:absolute;

    width:100%;
    height:100%;

    border-radius:15px;

    transform:rotateY(180deg);

    backface-visibility:hidden;

    background-size:cover;

    background-position:center;

}



/* وقتی کارت برمیگرده */

.flip{

    transform:rotateY(180deg);

}



/* برد */

.win .back{

    background:url("assets/money.png");

    background-size:cover;

    animation:win .5s;

}



/* باخت */

.lose .back{

    background:url("assets/bomb.png");

    background-size:cover;

    animation:shake .5s;

}



@keyframes win{

    from{transform:scale(.5);}
    to{transform:scale(1);}

}


@keyframes shake{

    0%{transform:translateX(0);}
    25%{transform:translateX(10px);}
    50%{transform:translateX(-10px);}
    100%{transform:translateX(0);}

}



button{

    margin:10px;

    padding:12px 25px;

    border:none;

    border-radius:12px;

    background:#ffd700;

    font-weight:bold;

    cursor:pointer;

}



#message{

    margin-top:20px;

    font-size:20px;

    color:#ffd700;

}
