*{
    box-sizing:border-box;
    font-family:tahoma;
}

body{
    margin:0;
    background:#050505;
    color:white;
    text-align:center;
}


header{

    padding:20px;

    font-size:28px;

    color:#ffd700;

    text-shadow:0 0 15px #ffd700;

    border-bottom:1px solid #333;

    display:flex;

    justify-content:space-between;

    align-items:center;

}



/* دکمه ادمین */

.admin-btn{

    background:#b30000;

    color:white;

    padding:8px 15px;

    border-radius:10px;

    border:none;

    cursor:pointer;

    font-size:14px;

}



/* صفحه اصلی */

.main-game{

    width:230px;

    margin:40px auto;

    background:#111;

    border:1px solid #333;

    border-radius:25px;

    padding:20px;

    cursor:pointer;

    transition:.3s;

}



.main-game:hover{

    transform:scale(1.06);

    box-shadow:0 0 30px #ffd700;

}



.main-game img{

    width:130px;

}



/* مخفی */

.hide{

    display:none;

}



/* کیف پول */

.wallet{

    margin:20px;

    font-size:20px;

    color:#00ff88;

}



/* دکمه ها */

button{

    background:#ffd700;

    border:none;

    border-radius:12px;

    padding:12px 22px;

    margin:7px;

    cursor:pointer;

    font-weight:bold;

}



.charge{

    background:#00bfff;

    color:white;

}



/* اطلاعات بازی */

.info{

    display:flex;

    justify-content:center;

    gap:40px;

    font-size:18px;

}



/* ورودی */

input{

    padding:12px;

    border-radius:12px;

    border:none;

    text-align:center;

    width:220px;

    margin:10px;

}



/* کارت ها */

.cards{

    display:flex;

    justify-content:center;

    gap:15px;

    margin-top:40px;

}



.card{

    width:100px;

    height:140px;

    background:

    linear-gradient(145deg,#222,#080808);

    border-radius:20px;

    border:2px solid #ffd700;

    cursor:pointer;

    transition:.5s;

}



.card:hover{

    transform:translateY(-10px);

}



/* حالت برد */

.win{

    background:#00c853!important;

    box-shadow:0 0 30px #00c853;

}



/* حالت باخت */

.lose{

    background:#d50000!important;

    box-shadow:0 0 30px red;

}



#message{

    min-height:40px;

    color:#ffd700;

    font-size:22px;

}



/* موبایل */

@media(max-width:600px){

.cards{

gap:8px;

}


.card{

width:75px;

height:120px;

}

    }
